.appointment-details{
  width: fit-content;
  padding: 1rem;
  text-align: center;
}
h1{
  color: rgba(34, 68, 219, 0.822);
}
.page{
  width: 100%;
  justify-content: center;
}
.card{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  /* gap: 0.5rem; */
  margin: 0 auto
}
.table-card{
  width: 100%;
  margin: 0 auto;
}
.patient-Details{
  width: 100%;
  margin: 0 auto;
}
.mat-elevation-z8 {
  width: 100%;
  padding: 10px;
}
td,
th {
  width: fit-content;
}
mat-card-header, tr
{
  justify-content: center;
}
ng-container , td , th, tr {
  padding: 0%;
  margin: 0;
}
