.person
{
  background-color: #0000005b;
  padding: 10px;
  margin: 2vh 7vh;
}
.appointment-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 auto;
  padding: 20px;
}
mat-card , mat-card-footer{
  width:20vh;
  padding: 20px;
}
mat-card:hover
{
  background-color: #faa08963;
}
