.person
{
  background-color: #0000005b;
  padding: 10px;
  margin: 2vh 7vh;
}
.appointment-container{
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  margin: 0 auto;
  padding: 20px;
}
mat-divider{
  margin-bottom:20px ;
}
mat-card , mat-card-footer{
  width:100%;
  padding: 20px;
}
mat-card:hover
{
  background-color: #6b6b6734;
}
.filter{
  width: 50%;
  margin: 10px auto;
}
