<div class="form-container" *ngIf="!submitted">
  <form [formGroup]="hospitalRegisteration" (ngSubmit)="OnSubmit()">
    <div class="row">
      <!-- hospital Name -->
      <mat-form-field appearance="outline">
        <mat-label>Hospital Name</mat-label>
        <input matInput type="text" placeholder="Ex. abc" formControlName="hospitalName" required>
      </mat-form-field>
      <!-- contact No. -->
      <mat-form-field appearance="outline">
        <mat-label>Contact No.</mat-label>
        <input matInput type="number" placeholder="Ex. abc" formControlName="contact" required>
      </mat-form-field>
    </div>
    <div class="row">
      <!-- email -->
      <mat-form-field appearance="outline">
        <mat-label>Hospital Email</mat-label>
        <input matInput type="email" formControlName="hospitalEmail" required>
      </mat-form-field>
      <!-- opening Date -->
      <mat-form-field appearance="outline">
        <mat-label>Opening date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="openingDate">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="row">
      <!-- owner Name -->
      <mat-form-field appearance="outline">
        <mat-label>Owner Name</mat-label>
        <input matInput type="text" formControlName="ownerName">
      </mat-form-field>
      <!-- owner Contact -->
      <mat-form-field appearance="outline">
        <mat-label>Owner Contact No.</mat-label>
        <input matInput type="number" formControlName="ownerContact">
      </mat-form-field>
      <!-- OwnerEmail -->
      <mat-form-field appearance="outline">
        <mat-label>Owner Email</mat-label>
        <input matInput type="text" formControlName="ownerEmail">
      </mat-form-field>
    </div>
    <div class="row">
      <!-- city -->
      <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <input matInput type="text" placeholder="" formControlName="city" required>
      </mat-form-field>
      <!-- password -->
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" required>
      </mat-form-field>
    </div>
    <div mat-dialog-actions class="row">
      <button mat-raised-button color="primary" type="submit">Submit</button>
      <button mat-raised-button color="warn" type="button"> Cancel </button>
    </div>
  </form>
</div>
