.home-container{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: rgb(107, 162, 245);
  width: 100%;
}

.register-container{
  display: flex;
  flex-wrap: no-wrap;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  border-radius:20px ;
  padding: 20px;
  justify-content: right;
  padding: 10px;
}
.name {
  border-left: 10px solid white;
  width: 100%;
  height: fit-content;
  padding: 20px;
  margin: 5% auto;
  color: aliceblue;
}
h1{
  font-size: 3vw;
  padding: 10px;
}
.registeration-form
{
  width: 100%;
  height: 100%;
}
.pages-button > button {
 margin-left:10px ;
}
