.logo > mat-icon
{
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0.26);
  padding: 0.5rem;
  border-radius: 50%;
  color: black;
}
.logo >h1 {
  margin-top :1rem;
  padding: 0.3rem 0 ;
}
.logo
{
  margin: 0;
  padding: 0.6rem;
  background-color: rgb(131, 171, 243);
  color: rgb(9, 15, 90);
}
mat-nav-list{
  padding: 0%;
  background-color: rgb(7, 34, 122);
  height: 100%;
  overflow: auto;
  z-index: 1;
}
a[mat-list-item]
{
  color: rgb(154, 199, 238);
  width: 100%;
  padding-left : 0.2rem;
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 0%;
  margin: 0 auto;
}

mat-icon{
  padding: 0.5rem;
}
.list-item-active{
  color: aliceblue !important;
}
