<mat-nav-list>
  <div class="logo py-4 row">
    <h1>
      <mat-icon class="mat-18">person</mat-icon>{{hospitalName}}
    </h1>
  </div>
  <mat-divider></mat-divider>
  <a routerLink="/home" routerLinkActive="list-item-active" mat-list-item> <mat-icon class="mat-18">home</mat-icon> Home </a>
  <a routerLink="/appointment" routerLinkActive="list-item-active" mat-list-item><mat-icon class="mat-18">local_hospital</mat-icon> Appointment </a>
  <a routerLink="/dashboard"  routerLinkActive="list-item-active" mat-list-item><mat-icon class="mat-18">dashboard</mat-icon>  Dashboard </a>
</mat-nav-list>
