/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; width: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.row {
  display: flex;
  gap: 1rem;
  width: 100%;
  margin-bottom:5px ;
}
mat-toolbar {
  justify-content: space-between;
  background-color: rgb(132, 172, 245);
}
form {
  background-color: rgba(240, 248, 255, 0.322);
  border-radius: 20px;
  padding: 20px;
  height: 100%;
  width: fit-content;
}
mat-form-field{
  width: 100%;
}
